{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block body %}
    <div class="container col-md-6 col-md-offset-3 column text-center">
        <form method="post" class="form">
            <div class="container-fluid">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Connecté avec : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter </h1>
                <div>
                    <label for="inputEmail">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required autofocus>
                    <label for="inputPassword">mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>


                    <button class="btn btn btn-primary" type="submit">
                        Se connecter
                    </button>
                </div>
                {% if app.user == null %}
                    <div>
                        <a href="{{ path('app_register') }}">Ou crée une compte</a>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
