{% extends 'base.html.twig' %}

{% block title %}Page inscription{% endblock %}

{% block body %}
    <div class="container col-md-6 col-md-offset-3 column text-center">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1 class="h3 mb-3 font-weight-normal">Crée un compte</h1>

        {{ form_start(registrationForm, {'attr' : {'class': 'form'}}) }}
        <div class="form-group">
            {{ form_row(registrationForm.firstname) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.lastname) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.plainPassword) }}
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">S'inscrire</button>
        {{ form_end(registrationForm) }}
        <a href="{{ path('app_login') }}">Connectez-vous</a>
    </div>
{% endblock %}
