<div class="container col-md-6 col-md-offset-3 column text-center">
    {{ form_start(form, {'attr' : {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>
    <div class="form-group">
        {{ form_row(form.url) }}
    </div>
    <div class="form-group">
        {{ form_row(form.status) }}
    </div>
    <button class="btn btn-primary" role="button">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

</div>
