{% extends 'base.html.twig' %}

{% block title %}Page modification de site{% endblock %}

{% block body %}
    {{ include('website/nav.html.twig') }}
<main class="container col-md-10 col-md-offset-3 column">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Modification site</h1>
        <a class="btn btn-success" role="button" href="{{ path('website_index') }}">Retour au menu principal</a>
    </div>

    {{ include('website/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('website/_delete_form.html.twig') }}
</main>
{% endblock %}
