{% extends 'base.html.twig' %}

{% block title %}List des sites {% endblock %}

{% block body %}
    {{ include('website/nav.html.twig') }}
    <main class="container col-md-10 col-md-offset-3 column">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Vos Sites</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a class="btn btn-success" role="button" href="{{ path('website_new') }}">Ajouter un site</a>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>nom de site</th>
                <th>lien</th>
                <th>date</th>
                <th>code HTTP</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for website in websites %}
                <tr class="table-{{ website.status == '200' ? 'success' : 'warning' }}">
                    <td>{{ website.name }}</td>
                    <td><a href="{{ absolute_url(website.url) }}" target="_blank">{{ website.url }}</a></td>
                    <td>{{ website.updateAt ? website.updateAt|date('Y-m-d H:i:s') : website.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>{{ website.status }}</td>
                    <td>
                        <a class="btn btn-info" role="button" href="{{ path('website_show', {'id': website.id}) }}">Show</a>
                        <a class="btn btn-primary " role="button"
                           href="{{ path('website_edit', {'id': website.id}) }}">Edit</a>
                        {{ include('website/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Liste vide</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
