<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    {% if app.user %}
        <div class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">
            Connecté avec {{ app.user.username }},
        </div>
        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
    {% endif %}
</nav>