{% extends 'base.html.twig' %}

{% block title %}Website{% endblock %}

{% block body %}
    {{ include('website/nav.html.twig') }}
    <main class="container col-md-10 col-md-offset-3 column">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">site {{ website.name }}</h1>
            <a class="btn btn-success" role="button" href="{{ path('website_index') }}">Retour au menu principal</a>
        </div>
        <div class="container col-md-10 col-md-offset-3 column text-center">

            <table class="table">
                <tbody>
                <tr>
                    <th>Lien</th>
                    <td>{{ website.url }}</td>
                </tr>
                <tr>
                    <th>Code HTTP</th>
                    <td>{{ website.status }}</td>
                </tr>
                <tr>
                    <th>Dernière mise à jour</th>
                    <td>{{ website.updateAt ? website.updateAt|date('Y-m-d H:i:s') : website.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{ path('website_edit', {'id': website.id}) }}">modification</a>

            {{ include('website/_delete_form.html.twig') }}

        </div>
    </main>
{% endblock %}
